$build-main: #27B6BF;
$build-secondary: #FDEFEC;

page-home {

	ion-grid {
		height: 100%;
	}
	ion-card {
		position: relative;
		text-align: center;
	}

	card-title {
		position: relative;
		top: 36%;
		font-size: 2.0em;
		width: 100%;
		font-weight: bold;
		color: #FFF;
	}

	.buildButton {
		text-align: center;
	}

	.build {
		border-color: $build-secondary;
		color: $build-main;
	}

	.build:hover {
		background-color: $build-main !important;
		color: $build-secondary;
		border-color: $build-main;
	}

	.imageRow{
		height: 92%;
	}

	.image {
		height:100%;
	}
}