$build-main: #27B6BF;
$build-secondary: #FDEFEC;

.buildClosetCard {
	height: 90%;

	.titleRow {
		height: 10%;

		.title {
			height: 10;
			font-family: CenturyGothic;
			margin: 0 auto;
			padding: 30% 0;
			font-size: 100%;
			font-style: italic;
		}
	}

	.imageRow {
		height: 55%;

		.image {
			width: 60%;
			height: 100%;
			margin: 0 auto;
		}
	}

	.questionsRow {
		height: 20%;

		ion-select {
			max-width: 100% !important;
		}
	}

	.colorRow {
		height: 15%;

		.colors {
			display: inline-block;
			border-radius: 50%;
			width: 10% !important;
			height: 60%;
			margin: 1%;
			box-shadow: inset 2px -7px 11px rgba(80, 92, 51, 0.71);
		}
	}
}

.nextButtonDiv {
	text-align: center;

	.nextButton {
		text-align: center;
		border-color: $build-secondary;
		color: $build-main;
	}

	.nextButton:hover {
		background-color: $build-main !important;
		color: $build-secondary;
		border-color: $build-main;
	}
}

